# -*- python -*-
# ex: set filetype=python:

from buildbot.reporters.generators.build import BuildStatusGenerator
from buildbot.plugins import *
from twisted.internet import defer
import os

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [worker.Worker("worker1", "pass"),
                worker.Worker("worker2", "pass"),
                worker.Worker("worker3", "pass")
                ]

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': 9990}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot version of a python hello-world project.

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
    repourl='https://github.com/key4hep/key4hep-spack.git',
    branches=['release'],
    pollInterval=900))
c['change_source'].append(changes.GitPoller(
    repourl='https://github.com/spack/spack.git',
    branches=['develop'],
    pollInterval=900))
c['change_source'].append(changes.GitPoller(
    repourl='https://github.com/joequant/key4hep-container.git',
    branches=['master'],
    pollInterval=900))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []
c['schedulers'].append(schedulers.AnyBranchScheduler(
    name="all",
    treeStableTimer=600,
    builderNames=["trigger-build"]))

c['schedulers'].append(schedulers.Nightly(
    name="nightly",
    builderNames=["build-image"],
    hour=4))

c['schedulers'].append(schedulers.Triggerable(
    name="image-trigger",
    builderNames=["build-image"]))

c['schedulers'].append(schedulers.Triggerable(
    name="incremental",
    builderNames=["run-incremental"]))

c['schedulers'].append(schedulers.Triggerable(
    name="incremental-nightly",
    builderNames=["run-incremental-nightly"]))

c['schedulers'].append(schedulers.Triggerable(
    name="incremental-clang",
    builderNames=["run-incremental-clang"]))

#c['schedulers'].append(schedulers.Nightly(
#                            name="nightly",
#                            builderNames=["run-full"],
#                            hour="1"))
c['schedulers'].append(schedulers.ForceScheduler(
    name="force",
    builderNames=["build-image",
                  "trigger-build",
                  "run-incremental",
                  "run-incremental-nightly",
                  "run-incremental-clang",
                  "gc",
                  "run-full",
                  "test-fail",
                  "test-success"]))

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

c['builders'] = []
factory = util.BuildFactory()
factory.addStep(steps.Trigger(schedulerNames=['image-trigger'],
                              alwaysUseLatest=True,
                              waitForFinish=False))
c['builders'].append(
    util.BuilderConfig(name="trigger-build",
                       workernames=["worker1"],
                       factory=factory))


factory = util.BuildFactory()
# check out the source
factory.addStep(steps.Git(
    repourl='https://github.com/joequant/key4hep-container.git',
    mode='incremental'))
# run the tests (note that this will require that 'trial' is installed)
factory.addStep(
    steps.ShellCommand(
        command=["pnpm", "run", "build"],
        haltOnFailure=True))

factory.addStep(
    steps.Trigger(
        schedulerNames=['incremental',
                        'incremental-nightly',
                        'incremental-clang']))

c['builders'].append(
    util.BuilderConfig(name="build-image",
                       workernames=["worker1"],
                       factory=factory))

factory = util.BuildFactory()
factory.addStep(steps.Git(
    repourl='https://github.com/joequant/key4hep-container.git',
    mode='incremental'))
factory.addStep(
    steps.ShellCommand(
        command=["pnpm", "run", "run-incremental"],
        timeout=60*60))
c['builders'].append(
    util.BuilderConfig(name="run-incremental",
                       workernames=["worker1"],
                       factory=factory))

factory = util.BuildFactory()
factory.addStep(
    steps.ShellCommand(
        command=["exit", "255"]))
c['builders'].append(
    util.BuilderConfig(name="test-fail",
                       workernames=["worker1"],
                       factory=factory))

factory = util.BuildFactory()
factory.addStep(steps.ShellCommand(
    command=["echo", "foo"]))
c['builders'].append(
    util.BuilderConfig(name="test-success",
                       workernames=["worker1"],
                       factory=factory))


# check out the source
factory = util.BuildFactory()
factory.addStep(steps.Git(
    repourl='https://github.com/joequant/key4hep-container.git',
    mode='incremental'))
factory.addStep(
    steps.ShellCommand(command=["pnpm", "run",
                                "run-incremental-nightly"],
                       timeout=60*60))
c['builders'].append(
    util.BuilderConfig(name="run-incremental-nightly",
                       workernames=["worker2"],
                       factory=factory))

factory = util.BuildFactory()
factory.addStep(steps.Git(
    repourl='https://github.com/joequant/key4hep-container.git',
    mode='incremental'))
factory.addStep(
    steps.ShellCommand(command=["pnpm", "run",
                                "run-incremental-clang"],
                       timeout=60*60))
c['builders'].append(
    util.BuilderConfig(name="run-incremental-clang",
                       workernames=["worker3"],
                       factory=factory))

factory = util.BuildFactory()
factory.addStep(
    steps.ShellCommand(command=["pnpm", "run",
                                "build-stack"]))
c['builders'].append(
    util.BuilderConfig(name="run-full",
                       workernames=["worker3"],
                       factory=factory))

factory = util.BuildFactory()
factory.addStep(steps.Git(
    repourl='https://github.com/joequant/key4hep-container.git',
    mode='incremental'))
factory.addStep(
    steps.ShellCommand(command=["pnpm", "run", "gc"]))
factory.addStep(
    steps.ShellCommand(command=["pnpm", "run", "gc:nightly"]))
factory.addStep(
    steps.ShellCommand(command=["pnpm", "run", "gc:clang"]))
c['builders'].append(
    util.BuilderConfig(name="gc",
                       workernames=["worker3"],
                       factory=factory))

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

template=u'''\
<h4>Build status: {{ summary }}</h4>
<p> Worker used: {{ workername }}</p>
{% for step in build['steps'] %}
<p> {{ step['name'] }}: {{ step['results'] }}</p>
{% endfor %}
<p><b> -- The Buildbot</b></p>
'''

script_dir = os.path.dirname(os.path.realpath(__file__))
token = open(os.path.join(script_dir, "token"), 'r').read().strip()

def getresults(props):
    all_logs=[]
    master = props.master
    steps = yield props.master.data.get(
        ('builders', props.getProperty('buildername'), 'builds',
        props.getProperty('buildnumber'), 'steps'))
    for step in steps:
        if step['results'] == util.Results.index('failure'):
            logs = yield master.data.get(("steps", step['stepid'], 'logs'))
            for l in logs:
                all_logs.append('Step : {0} Result : {1}'.format(
                                    step['name'], util.Results[step['results']]))
                all_logs.append('```')
                l['stepname'] = step['name']
                l['content'] = yield master.data.get(("logs", l['logid'], 'contents'))
                step_logs = l['content']['content'].split('\n')
                include = False
                for i, sl in enumerate(step_logs):
                    all_logs.append(sl[1:])
                all_logs.append('```')
    if len(all_logs) == 0:
        return 'Build complete - No errors  ' + '\n\n'
    return 'Build complete   ' + '\n\n'.join(all_logs)

generator = BuildStatusGenerator(
    mode='failing',
    message_formatter=reporters.MessageFormatterRenderable(getresults))

mn = reporters.HttpStatusPush(
    "https://api.github.com/repos/joequant/key4hep-container/issues/1/comments",
    auth=("joequant", token,),
    generators=[generator])


####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "KEY4HEP Container CI"
c['titleURL'] = "https://github.com/joequant/key4hep-container"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = "http://dev1.bitquant.com.hk:8011/"

# minimalistic config to activate new web UI


authz = util.Authz(
    allowRules=[
        util.AnyControlEndpointMatcher(role="admins"),
    ], roleMatchers=[
        util.RolesFromUsername(roles=['admins'], usernames=["admin"])
    ]
)

c['www'] = dict(port='tcp:8011:interface=0.0.0.0',
                plugins=dict(waterfall_view={}, console_view={}, grid_view={}))
print (os.path.join(script_dir, ".htpasswd"))
c['www']['auth'] = util.HTPasswdAuth(os.path.join(script_dir, ".htpasswd"))
c['www']['authz'] = authz

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.
    'db_url' : "sqlite:///state.sqlite",
}
